<div class="row">
  <div class="col-sm-6 mb-1">
      <!-- Top user list -->
      <div class="list-group bound-0">
          <button type="button" class="list-group-item list-group-item-action list-group-item-info active disabled">
              Top User
            </button>
          <a routerLink="/user" class="list-group-item list-group-item-action">John</a>
          <a routerLink="/user" class="list-group-item list-group-item-action">Smith</a>
          <a routerLink="/user" class="list-group-item list-group-item-action">Tommy</a>
          <a routerLink="/user" class="list-group-item list-group-item-action " tabindex="-1" >Morbi</a>
        </div>
  </div>
  <div class="col-sm-6 mb-1">
      <!-- Top customer list -->
      <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action list-group-item-info active disabled">
            Top Customer
          </button>
          <a routerLink="/customer" class="list-group-item list-group-item-action">Dapi</a>
          <a routerLink="/customer" class="list-group-item list-group-item-action">leo</a>
          <a routerLink="/customer" class="list-group-item list-group-item-action">Porta</a>
          <a routerLink="/customer" class="list-group-item list-group-item-action">Vestibulum</a>
        </div>
  </div>
</div>